/* Animação para se carregar os itens iniciais da tela */
.divDadosAnimal {
  animation: scalein 1s ease-in-out;

  @keyframes scalein {
    0% {
      opacity: 0;
      transform: scaleY(0.8);
      transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1),
        opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}

:host ::ng-deep .p-dropdown {
  width: 10rem;
}

.comercialPMGZC {
  width: 9rem;
}

.ajusteAlturaDiv {
  margin-top: -1.8em;
}

.divHorizontal {
  margin-top: 1em;
}

.ajusteLabel {
  margin-top: -1em;
}

.ajusteTexto {
  margin-top: -1.6em;
}

.registro {
  font-family: arial;
  font-weight: 600;
  padding-left: 10px;
  color: royalblue;
  /* color: violet; */
}

.textoDestaque {
  font-family: arial;
  font-weight: 600;
  font-size: small;
  color: red;
}

#deca {
  width: 3rem;
}

#iabcz {
  width: 3rem;
}

#F {
  width: 3rem;
}

.disabledStyle {
  background-color: #eeeee0;
}
