<!-- style="border-style: solid" -->
<div class="grid pt-3 sm:pt-8 h-screen">
  <div
    class="p-3 md:pt-8 xl:col-offset-4 xl:col-4 lg:col-offset-3 lg:col-6 md:col-offset-2 md:col-8 sm:col-offset-2 sm:col-8 col-12"
  >
    <div
      class="xl:col-offset-1 xl:col-10 lg:col-offset-1 lg:col-10 md:col-offset-2 md:col-8"
    >
      <p-card
        styleClass="shadow-6 ms:border-round-sm sm:h-auto h-screen loginCard flex flex-column justify-content-center text-center"
      >
        <!-- <form #loginForm="ngForm"> -->
        <img src="../assets/images/logoABCZ.svg" width="130px" />

        <div style="text-align: center">
          <h2 class="nome">Produz</h2>
        </div>

        <form
          #loginForm="ngForm"
          autocomplete="off"
          (ngSubmit)="logar(loginForm)"
        >
          <div class="col espacoLinha field">
            <!-- Usuário -->
            <span class="p-float-label">
              <input
                id="usuario"
                name="login"
                type="text"
                pInputText
                [required]="true"
                [(ngModel)]="login.usuario"
                #usuario="ngModel"
                class="p-float-label p-inputtext-lg"
                [style]="{ width: '100%' }"
              />
              <!-- aria-describedby="usuarioHelp" -->
              <label for="usuario">Usuário</label>
            </span>
          </div>

          <div class="col espacoLinha">
            <!-- Senha -->
            <span class="p-float-label">
              <input
                id="senha"
                name="senha"
                type="password"
                pInputText
                [required]="true"
                [(ngModel)]="login.senha"
                #senha="ngModel"
                class="p-float-label p-inputtext-lg"
                [style]="{ width: '100%' }"
              />
              <label for="senha">Senha</label>
            </span>
          </div>

          <div id="helptest" [hidden]="helpIsHidden">
            <small id="username-help" class="p-error">{{ msg }}</small>
          </div>
        <!-- </form> -->

        <div class="grid espacoLinha">
          <!-- Botão Alterar Senha -->
          <p-button
            class="col-6"
            label="Alterar Senha"
            [style]="{ width: '95%' }"
          ></p-button>

          <!-- Botão Entrar -->
          <p-button
            type="submit"
            class="col-6"
            label="Entrar"
            [style]="{ width: '95%' }"
          ></p-button>
          <!-- (onClick)="logar(loginForm)" -->
        </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
