<h3 class="titleRelatorio" style="padding-left: 20px;">Relatórios</h3>

<div>
  <p-divider align="left">
    <div class="inline-flex align-items-center titleRelatorio">
      <b>Movimentação</b>
    </div>
  </p-divider>

  <div class="divRelatorio">
    <button
      pButton
      pRipple
      label="Animais"
      class="p-button-outlined buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Análise Quantitativa"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Extrato de Mortes"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Extrato de Compra e Venda"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Transferência de Fazenda e Grupo de Manejo"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Extrato de Animais no Rebanho"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Gráficos Diversos Sobre o Rebanho "
      class="p-button-outlined  buttonRelatorio"
    ></button>
  </div>

  <p-divider align="left">
    <div class="inline-flex align-items-center titleRelatorio">
      <b>Reprodução</b>
    </div>
  </p-divider>

  <div class="divRelatorio">
    <button
      pButton
      pRipple
      label="Fêmeas Aptas para Acasalamento/Produção das Matrizes"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Matrizes sem Serviço no Período"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Produtividade das Matrizes"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Fertilidade/Diagnostico de Matrizes"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Produção de Bezerros"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Índices Reprodutivos por Touro"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Fêmeas com Cria ao Pé"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Estatística pro Inseminador"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Matrizes/Receptoras que Não Pariram"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Matrizes que Pariram e Não Entraram em Novo Serviço"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Ficha de Reprodutores ou Matrizes"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Serviços de Matrizes por Período"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Ficha Reprodutiva por Lote"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Relatório Produtivo por Lote"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Receptoras/Produção de Filhos"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Histórico de Transferência de Embrião"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Histórico/Demonstrativo Sobre Coletas de Embriões"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Doadoras/Produção de Filhos"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Controle de Cios"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Previsão para Acasalamento"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Histórico de Serviços da Receptora por Lote"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Relatório de Sincronização de Receptoras/Matrizes"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Previsão de Acasalamento Identificado"
      class="p-button-outlined  buttonRelatorio"
    ></button>
  </div>

  <p-divider align="left">
    <div class="inline-flex align-items-center titleRelatorio">
      <b>Produtividade</b>
    </div>
  </p-divider>

  <div class="divRelatorio">
    <button
      pButton
      pRipple
      label="Extrato de Pesagens"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Extrato de Pesagens por CDP"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Gerencial de Pesos à Desmama"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Análise Peso Calculado (RPC)"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Classificação pelo PHRAS/EPMURAS"
      class="p-button-outlined  buttonRelatorio"
    ></button>
  </div>

  <p-divider align="left">
    <div class="inline-flex align-items-center titleRelatorio">
      <b>Leite</b>
    </div>
  </p-divider>

  <div class="divRelatorio">
    <button
      pButton
      pRipple
      label="Informações do Controle Leiteiro"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Desempenho Leiteiro"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Lactação dos últimos 12 Meses"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Melhores Produções"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Melhores Produções por Criador"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Gráficos de Produção"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Gráficos de Parto"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Planilhas para Campo"
      class="p-button-outlined  buttonRelatorio"
    ></button>
  </div>

  <p-divider align="left">
    <div class="inline-flex align-items-center titleRelatorio">
      <b>PMGZ</b>
    </div>
  </p-divider>

  <div class="divRelatorio">
    <button
      pButton
      pRipple
      label="Relatórios CEP"
      class="p-button-outlined  buttonRelatorio"
    ></button>
    <button
      pButton
      pRipple
      label="Relatórios PNAT"
      class="p-button-outlined  buttonRelatorio"
    ></button>
  </div>

  <p-divider align="left">
    <div class="inline-flex align-items-center titleRelatorio">
      <b>Módulo Curral</b>
    </div>
  </p-divider>
</div>

<div class="divRelatorio">
  <button
    pButton
    pRipple
    label="Extrato de Serviços Finalizados"
    class="p-button-outlined  buttonRelatorio"
  ></button>
</div>
